@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-basalt: #050505;
  --color-moss: #404F44;
  --color-limestone: #707070;
  --color-neon: #B4FA32;
  --color-graphite: #0A0A0A;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,900;1,400&family=JetBrains+Mono:wght@400;700&display=swap');

body {
  background-color: #050505;
  color: #B4FA32;
}
